<h1>Test Guru</h1>
<p>Приложение для проведения тестов.</p>
<p>Включает в себя</p>
  <ul>
     <li>Создание тестов и управление ими</li>
    <li>Аутентификация</li>
    <li>Базовое разграничение прав доступа</li>
    <li>Выполнение тестов</li>
    <li>Публикация результатов в соцсети</li>
  </ul>
<%= link_to "Thinknetica", "http://thinknetica.com/" %>
